* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0,0,0,0.1);
}

/***** LEFT SIDE COLUMN *****/

.container .left {
    position: relative;
    background-color: #5b6d92;
    padding: 40px;
}

/*** Profile image & Profile image text  ***/

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.profileText .imageBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imageBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 200;
}

/*** Contact information, Education & Language skills AKA Basic information  ***/

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px, 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 150;
}


.contactInfo.edu li {
    margin-bottom: 15px;
}

.contactInfo.edu h5 {
    color: #03a9f4;
    font-weight:  500;
}

.contactInfo.edu h4:nth-child(2) {
    color: #fff;
    font-weight: 500;

} 

.contactInfo.edu h4 {
    color: #fff;
    font-weight: 100; 

}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 5px;
    background: #505b6d92;
    display: block;
    margin: 5px 0px;
}

.percent .bar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: aquamarine;
}

/***** MAIN CONTENT *****/

.container .right {
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0px;
}

.title2 {
    color: navy;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #666;
}

.about .experience {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .experience .years_in {
    min-width: 150px;

}

.years_in h5 {
    text-transform: uppercase;
    color: #71706e;
    font-weight: 400;

}

.about .experience .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .experience {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .experience h4 {
    text-transform: uppercase;
    color: #71706e;
    font-weight: 400;
}

.skills .experience .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;

}

.percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: cornflowerblue;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.interest ul li {
    list-style: none;
    color: #444;
    font-weight: 200;
    margin: 10px 0;
}

.interest ul li .fa-solid {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;

}

/***** MEDIA QUERIES *****/

@media (max-width: 1000px)  {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .about .experience {
        flex-direction: column;
    }
    
    .about .experience .years_in {
        margin-bottom: 5px;
    }
    .interest ul {
        grid-template-columns: repeat(1,1fr);
    }

    .skills .experience {
        grid-template-columns: repeat(1,1fr);
    }


}